* {
    font-family: inherit;
}
html{
    margin-bottom: 200px;
    font-size: 16px;
}
body:lang(ko){
    word-break: keep-all;
}
body{
    margin: 0;
    background-color: white;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    padding-bottom: 490px;
    font-size: 16px;
}
@media (max-width: 680px){
    body{
        font-size: 14px;
    }
}
.content{
    scroll-behavior: smooth;
    position: relative;
    z-index: 0;
}
@media (min-width: 960px){
    .content{
        padding-right: 300px;
        padding-left: 300px;
    }
}
@media (max-width: 960px){
    .content{
        padding-right: 150px;
        padding-left: 150px;
    }
}
@media (max-width: 680px){
    .content{
        padding-right: 5px;
        padding-left: 5px;
    }
}
.content-box{
    position: relative;
    height: 800px;
}
@media (max-width: 640px){
    .content-box {
        height: 926px;
    }
}
@media (max-width: 500px){
    .content-box {
        height: 684px;
    }
}
.to-top {
    background: #DA914B;
}
.heading{
    margin: 1.2em 0 .8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.paragraph {
    margin-bottom: 1rem;
}
.list {
    margin: .4em 0 .4em 1.5em;
}
ol,  ul {
    padding-left: .5rem;
}
.list li {
    margin: .4em 0;
    list-style-type: circle;
}